<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
  <!-- 打印查询语句 -->
  <settings>
    <setting name="logImpl" value="STDOUT_LOGGING" />
  </settings>


  <typeAliases>
    <package name="demo.mybatis.model" />
  </typeAliases>
  <environments default="development">

    <environment id="development">
      <transactionManager type="JDBC">
        <property name="" value="" />
      </transactionManager>

      <dataSource type="UNPOOLED">
        <property name="driver" value="org.postgresql.Driver" />
        <property name="url" value="jdbc:postgresql://192.168.3.9/defaultdb" />
        <property name="username" value="postgres" />
        <property name="password" value="123456" />
      </dataSource>
    </environment>
  </environments>
  <mappers>
    <mapper resource="SystemAdminMapper.xml" />
  </mappers>

</configuration>